/*CSS - Booking*/
.booking_info {
	background-color: #8b815f;
	padding: 10px;
	margin-bottom: 10px;
	color: #FFF;
}
.booking_info img {
	float: left;
	margin-right: 10px;
}
.booking_info span {
	font-size: 15pt;
	font-weight: bold;
}
#booking_form {
	width: 330px;
	position: relative;
	margin: 20px auto;
}
.book_label {
	display: inline;
	float: left;
	width: 170px;
}
#submit_button {
	float: right;
}